body{
	font-family: 'Poppins', sans-serif;
}
.header1{
	font-size:48px;
}
.para{
	font-size:20px;
	padding:0px 350px 0px 350px;
	text-align:center;
}

/*Vision,Mission,Values*/

.all{
    display: flex;
    gap:30px;
}
.vision{
	margin-left:220px;
	padding-left:220px;
	padding:20px;
	width:300px;
	text-align:center;
	background-color: #D3D3D3;
	border-radius:10px;
    flex-direction: column;
    justify-content: space-between;
}
.values{
	padding-right:150px;
	margin-right:150px;
	padding:20px;
	width:300px;
	text-align:center;
	background-color: #D3D3D3;
	border-radius:10px;
    flex-direction: column;
    justify-content: space-between;
}
.mission{
	padding:20px;
	width:300px;
	text-align:center;
	background-color: #D3D3D3;
	border-radius:10px;
    flex-direction: column;
    justify-content: space-between;
}
.icon img{
	width:100px;
	padding:0px 125px 0px 125px;
	margin-bottom: 20px;
}
.header3{
	text-align:center;
	color:red;
	padding-top:0px;
}
.para1{
	text-align:center;
	font-size:17px;
	padding: 0px 20px 0px 20px;
}
.para2{
	text-align:center;
	font-size:17px;
}

/*brands*/
.brands-heading{
	display:flex;
	align-items:center;
	text-align:center;
	font-size:24px;
}
.line{
	flex:1;
	height:1px;
	background-color:black;
}
.brands-text{
	margin:0 15px;
	font-weight:bold;
	letter-spacing:2px;
}
.brands{
	display:flex;
	justify-content:space-between; /*spread the img evenly*/
	flex-wrap:wrap; 
	padding:0px 15px 20px 15px;
}
.brands img{
	padding-top:20px;
	width:100px;
	margin:5px;
}