* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fdddfb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-position: center;
	background-size : cover;
}

.login_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    height: 85%;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 25px;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.logo_container img{
	border-radius: 30px;
}
.login_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login_form {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    text-align: center;
    background-color: #FFEBF8;
    transition: background-color 0.3s ease;
}

.login_form:hover {
    background-color: #F5C4DD;
}

.logo_container img {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 30px;
    color: #666;
}

input[type=text], input[type=password] {
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
    padding: 12px 20px;
    border: 2px solid #ccc;
    border-radius: 30px;
    font-size: 16px;
    outline: none;
	transition: all 0.3s ease;
}

input[type=text]:focus, input[type=password]:focus {
    border-color: #a63a79;
    box-shadow: 0 0 5px rgba(166, 58, 121, 0.5);
}

input[type=text]:hover, input[type=password]:hover {
    background-color: #f0f0f0;
}

input[type=submit] {
    width: 100%;
    height: 50px;
    background-color: #a63a79;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    cursor: pointer;
	transition: background-color 0.3s ease;
	margin-bottom: 20px;
}

input[type=submit]:hover {
    background-color: #731d54;
}

.checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.checkbox label {
    font-size: 14px;
	padding-left: 10px;
}

.user_login {
    font-size: 14px;
    color: #a63a79;
    text-decoration: none;
    transition: color 0.3s ease;
}

.user_login:hover {
    color: #731d54;
}