*{
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-transform: capitalize;
}

.container .row {
    width: 100%;
    padding: 20px;
    background: burlywood;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
}

.container .col {
    width: 100%;
    margin-bottom: 20px;
}

.container1, .container2 {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.submit_btn {
    background-color: chocolate;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/*billing form*/

#billingForm input {
    background-color: lightgray;
    border: 1px solid #ccc;
    color: #333;
    padding: 10px;
    width: 100%;
    font-size: 16px;
}