
body {
    font-family: 'Poppins', sans-serif;
    background-image: url(../images/edit.jpg);
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    height: 100vh;
    margin: 0;
    padding-top: 50px; 
}


form {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
}


h1 {
    text-decoration: 'popins';
    text-align: center;
    font-size: larger;
    color: rgb(148, 41, 41);
    padding: 15px 0; 
    margin: 0;
    font-size: 24px;
    border-radius: 8px 8px 0 0; 
}


label {
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
}

input[type="text"], 
input[type="number"], 
select, 
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    box-sizing: border-box;
}


img {
    margin-top: 10px;
    border-radius: 4px;
}


button {
    width: 100%;
    background-color: #ce5b5b;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff5c5c;
}


input[type="file"] {
    padding: 3px;
}
