body{
	font-family: 'Poppins', sans-serif;
	background-size: 2000px;
	overflow-x: hidden;
	width: 100%;
	text-align: center;
}

/* slider start */

.sliderbox{
	width: 100%;
	height: 400px;
	background-color: black;
	background-repeat: no-repeat;
}
/* slider end */

/*collection-desc-boxes start*/

.category-heading{
	display:flex;
	align-items:center;
	text-align:center;
	font-size:30px;
}
.line{
	flex:1;
	height:1px;
	background-color:black;
}
.category-text{
	margin:0 15px;
	font-weight:bold;
	letter-spacing:2px;
}
.collection-desc-boxes{
	width: 100%;
	height: 700px;
	background-size: 1600px;
}
.collection-box{
	position:relative;
	height:350px;
	width:255px;
	transition:transform .2s;
	margin:60px;
	float:left;
	padding-top:20px;
}
.collection-box:hover{
	-ms-transform:scale(1.1);
	-webkit-transform:scale(1.1);
	transform:scale(1.1);
}
.collection-box-overlay{
	position:absolute;
	bottom:100%;
	left:0;
	right:0;
	background-color:#9e9e9e59;
	overflow:hidden;
	width:100%;
	height:0;
	transition: .5s ease;
}
.collection-box:hover .collection-box-overlay{
	bottom:0;
	height:100%;
}
.collection-view-button{
	width:50%;
	background-color:#E88589;
	color:white;
	padding:14px 20px;
	border:none;
	border-radius:4px;
	cursor:pointer;
	margin:150px 0px 0px 0px;
}
.collection-view-button:hover{
	background-color:#EE2A34;
}
.collection-box-name{
	position:absolute;
	height:30px;
	width:247px;
	background-color:#D3D3D3;
	font-size:15px;
	bottom:0;
	padding:4px;
	text-align:center;
}
.desc{
	font-size:18px;
	font-weight:bold;
}
.shop-now{
	font-size:19px;
	font-weight:bold;
	width:150px;
	background-color:black;
	color:white;
	padding:14px 20px;
	border:none;
	border-radius:4px;
	cursor:pointer;
}
.collection-view-button:hover{
	background-color:black;
}
/*end of collection-desc-boxes*/