*{
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: all 0.2s linear;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    padding: 25px;
    background: burlywood;
}

.container .row {
    width: 820px;
    padding: 20px;
    background: white;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
}

.col .inputBox {
    margin: 15px 0;
}

.col .inputBox label {
    margin-bottom: 10px;
    display: block;
}

.col .inputBox input, .col .inputBox select {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 15px;
}


th {
    width: 30%;
    color: #000;
    padding: 10px;
    border: 2px solid brown;
}

table {
    width: 90%;
    border-collapse: collapse;
}

td {
    padding: 5px;
    border: 2px solid brown;
}

button {
    width: 100%;
    background-color: lightcoral;
    
}