*{
  font-family: Arial, Helvetica, sans-serif;
}

body{
  /* background-color: #b0c4da; */
  background-color: #66819e;
}

.card {
  margin-top: 15px;
  background-color: #f9ffff;
  width: 30%;
  padding: 15px 0px;
  border-radius: 17px;
  /* box-shadow: 0 0 20px 0 #7c99b6; */
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
  border: 1px solid rgb(214, 214, 214);
}

input,
.area{
  background-color: aliceblue;
  border: 1px solid gray;
  border-radius: 15px;
  padding: 8.5px 27px;
  margin-bottom: 15px;

}

p{
  color: black;
  font-size: 32px;
  font-weight: bold;
}

.btn {

  font-size: 17px;
  font-weight: bold;
  color: white;
  background-color: #2c3e50;
  padding: 7px 15px;
  border: 1px solid #2c3e50;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 14px;
 
}

.btn:hover {

  background-color: #3d6084;
  transition: 0.1s;
}

label {
  font-weight: 500;
  font-size:19px;
}

