.hello{
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f5f5f5;
    text-align: center;
}

.welcome-message {
    background-color: #f5f5f5;
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 20px;
    color: #333;
    text-align: center;
    margin: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.welcome-message:before {
    content: "👋 "; /* Adds a waving hand emoji before the message */
    font-size: 24px;
}


h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.pro-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 10px;
}

.pro {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    text-align: left;
}

.pro:hover {
    transform: translateY(-5px);
}

.pro img {
    width: 100%;
    border-radius: 10px;
    height: auto;
}

.pro h5 {
    font-size: 18px;
    margin: 10px 0;
}

.pro h4 {
    color: #388e3c;
    margin: 5px 0;
}

.pro select, .pro input {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.cart-btn {
    width: 100%;
    background-color: #007b5e;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cart-btn:hover {
    background-color: #00593c;
}

